setuptools==45.0.0
asn1crypto==0.24.0
asyncio==3.4.3
bcrypt==3.1.4
beautifulsoup4==4.6.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
configparser==3.5.0
cryptography==2.1.4
Flask==0.12.2
future==0.16.0
geographiclib==1.49
geopy==1.17.0
idna==2.6
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10
jinjasql==0.1.6
lxml==4.2.1
MarkupSafe==1.0
MechanicalSoup==0.10.0
MqHelper==1.2.0
#numpy>1.19
opencv-python>4.4.0
paho-mqtt==1.2
paramiko==2.4.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pyasn1==0.4.2
pycparser==2.18
#pygame==1.9.3
PyNaCl==1.2.1
pytz==2018.7
#PyYAML==3.12
requests==2.18.4
scp==0.10.2
serial==0.0.27
Shapely==1.6.4.post2
six==1.11.0
slackapi==0.0.3
slackclient==1.2.1
tzwhere==3.0.3
urllib3==1.22
urlopen==1.0.0
websocket-client==0.47.0
websockets==4.0.1
Werkzeug==0.14.1
#wxPython==4.0.0b2
